#Ignore these directories:
bowtieConsensTestFiles/
output/
intermediate/
learn_DSL2/.nextflow/
.nextflow*

#Ignore these files:
Singularity/bowtie*
bowtie*
Singularity/samtools*
samtools*
Singularity/bcftools*
bcftools*
Singularity/vcf*
vcf*
Singularity/*.sif
*.sif
learn_DSL2/.nextflow.log*
.nextflow*

#but including subfolder
!learn_DSL2/learn_DSL2/local_output/
