params {
  querydir = "$PWD/bowtieConsensTestFiles/eng_live_atten_poliovirus/polio-sample-8_S13_R{1,2}_001.fastq.gz"
  inputPair = "$PWD/bowtieConsensTestFiles/eng_live_atten_poliovirus/polio-sample-8_S13_R{1,2}_001.fastq.gz"
  reference = "$PWD/bowtieConsensTestFiles/eng_live_atten_poliovirus/MZ245455.1"
  makeReference = "$PWD/bowtieConsensTestFiles/eng_live_atten_poliovirus/MZ245455.1"
  indexdir = "$PWD/bowtieConsensTestFiles/eng_live_atten_poliovirus/"
  dbName = "MZ245455"
  threads = 8
  outdir = "$PWD/output"
  intermdir = "$PWD/intermediate"
  glob = true
  help = false
}
 
singularity {
        // Enable Singularity features.
        singularity.enabled    = true
        singularity.autoMounts = true
        //singularity.runOptions = '--bind /scicomp/reference-pure:/scicomp/reference-pure --bind /scicomp/scratch:/scicomp/scratch'
         singularity.runOptions = "--bind /usr/bin/"
         enabled = true
	 // singularity.runOptions = "--bind $PWD"
        // Disable other container software.
        docker.enabled         = false
        conda.enabled          = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false

        // Prevents mounting errors in Singularity container creation caused by bad TMPDIR creation.
        process.scratch = false
    }

manifest {
  description = 'Generate consensus genomes from paired fastq files mapped to reference at minimum 1X and 25X coverage.'
  author = 'Darlene D. Wagner'
  mainScript = 'bowtieConsensusFromPairedFastq.nf'
}
