params {
//  inDir = Channel.fromPath('$PWD/Rota_Bangladesh/Rota_Bangladesh_LS_split_files/*.fasta')
// query = "Rota_Bangladesh_LS_*.fasta"
  dbDir = "/scicomp/reference/ncbi-blast/current"
  dbName = "nt"
  threads = 8
  outdir = "$PWD/blastOut"
  outFileName = "Rota_Bangladesh_LS_1.tab.blastout"
  trimFileName = "view.txt"
  options = "-evalue 1e-25"
  outfmt = "'6'"
  help = false
}

manifest {
  author = 'Darlene D. Wagner'
  mainScript = 'blastnAlignExtract.nf'
}
